bin/
obj/
out/
publish/
artifacts/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

.vs/
.vscode/

*.nupkg
packages/
.nuget/


*.log
logs/
TestResults/
coverage/
*.coverage
*.coveragexml

*.tmp
*.temp
*.bak
*.swp
*~
